<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Citas</title>
    <link rel="stylesheet" th:href="@{/css/dashAndFoot.css}">
    <link rel="stylesheet" th:href="@{/css/registers.css}">
</head>

<body>
    <nav>
        <img th:src="@{/img/logo.png}" class="logo">
        <!-- Administrador -->
        <div class="btns" th:if="${session.userDetails.FK.getIdRol == 1}">
            <div class="btn">
                <a th:href="@{/moduloUsuario}"><input type="submit" value="USUARIO"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloMascota}"><input type="submit" value="MASCOTA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloCliente}"><input type="submit" value="CLIENTE"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/verPerfil}"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
        <!-- Recepcionista -->
        <div class="btns" th:if="${session.userDetails.FK.getIdRol == 2}">
            <div class="btn">
                <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloMascota}"><input type="submit" value="MASCOTA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloCliente}"><input type="submit" value="CLIENTE"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/verPerfil}"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
        <!-- Doctor -->
        <div class="btns" th:if="${session.userDetails.FK.getIdRol == 3 || session.userDetails.FK.getIdRol == 4}">
            <div class="btn">
                <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/verPerfil}"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
    </nav>
    <main>
        <form th:action="@{/registrarCita}" th:object="${cita}" method="post" id="form">
            <h2>Registrar<br> Cita</h2>
            <table>
                <tr>
                    <td> 
                        <div class="form-control">
                        <select name="idUsuario" th:field="*{FkC.idCliente}">
                            <option value="">Clientes</option>
                            <th:block th:each="c:${clientes}">
                                <option th:if="${c != null}" th:value="${c.idCliente}" th:text="${c.nombreCliente}"></option>
                            </th:block>
                        </select>
                        <br><label>Cliente</label><br><br>
                    </div>
                    </td>
                    
                    <td>

                        <div class="form-control">
        
                        <input type="text" name="consulta" id="consulta" th:field="*{motivoConsulta}" placeholder="Motivo de Consulta">
                        <br><label class="form__label">Motivo Consulta</label><br><br>
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error message</small>
                        </div>
                    </td>
                    <td>
                        <div class="form-control">
                            
                            <input type="date" name="fecha" id="fecha" th:field="*{fechaCita}" placeholder="Fecha Cita">
                            <br><label for="fecha">Fecha Cita</label><br><br>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message</small>
                            </div>
                       
                    </td>
                </tr>
                <tr>
                    <td>

                            <div class="form-control">
                            <input type="date" name="date" id="date" th:field="*{horaCita}" placeholder="Hora Cita" step="1" >
                            <br><label for="date">Hora Cita </label><br><br>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message</small>
                            </div>
                        
                        
                    </td>
                    <td>
                        <input type="hidden" id="" th:field="*{FK.idAgenda}" placeholder="Id Agenda"  readonly>
                    </td>
                    <td>
                        <select id="" name="" th:field="*{estadoCita}" hidden>
                            <option value="">Estado</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="submit" class="regis" id="regis" value="Registrar">
        </form>
    </main>

    <footer>
        <div class="vete">
            <h1>Veterinaria Boss Bunny</h1>
        </div>
        <div class="contac">
            <div class="text">
                <h1>CONTACTO</h1>
                <h2>teléfono: 3147888196 • veterinaria@gmail.com</h2>
            </div>
            <div class="img">
                <img th:src="@{/img/logo.png}" class="log">
            </div>
        </div>
        <div class="toda">
            <h1>Todas las marcas y logotipos pertenecen a las respectivas empresas. ® 2023. creado por PETCOM ©.</h1>
        </div>
    </footer>
    <script th:src="@{/js/validacionC.js}"></script>
</body>

</html>