<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Citas</title>
    <link rel="stylesheet" th:href="@{/css/dashAndFoot.css}">
    <link rel="stylesheet" th:href="@{/css/registers.css}">
</head>

<body>
    <nav>
        <img th:src="@{img/logo.png}" class="logo">
        <!-- Administrador -->
        <div class="btns" th:if="${session.userDetails.FK.getIdRol == 1}">
            <div class="btn">
                <a th:href="@{/moduloUsuario}"><input type="submit" value="USUARIO"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloMascota}"><input type="submit" value="MASCOTA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloCliente}"><input type="submit" value="CLIENTE"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
        <!-- Recepcionista -->
        <div class="btns" th:if="${session.userDetails.FK.getIdRol == 2}">
            <div class="btn">
                <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloMascota}"><input type="submit" value="MASCOTA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloCliente}"><input type="submit" value="CLIENTE"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
        <!-- Doctor -->
        <div class="btns" th:if="${session.userDetails.FK.getIdRol == 3 || session.userDetails.FK.getIdRol == 4}">
            <div class="btn">
                <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
    </nav>
    <main>
        <form th:action="@{/registrarCita}" th:object="${cita}" method="post">
            <h2>Registrar<br> Cita</h2>

            <input type="text" id="" th:field="*{motivoConsulta}" placeholder="Motivo de Consulta" required><br><br>

            <select id="" name="" th:field="*{estadoCita}">
                <option value="">Estado</option>
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select><br><br>

            <input type="number" id="" th:field="*{FK.idAgenda}" placeholder="Id Agenda" required><br><br>

            <input type="number" id="" th:field="*{FkC.idCliente}" placeholder="Id Cliente" required><br><br>

            <input type="submit" class="regis" value="Registrar">
        </form>
    </main>

    <footer>
        <div class="vete">
            <h1>Veterinaria Boss Bunny</h1>
        </div>
        <div class="contac">
            <div class="text">
                <h1>CONTACTO</h1>
                <h2>teléfono: 3147888196 • veterinaria@gmail.com</h2>
            </div>
            <div class="img">
                <img th:src="@{img/logo.png}" class="log">
            </div>
        </div>
        <div class="toda">
            <h1>Todas las marcas y logotipos pertenecen a las respectivas empresas. ® 2023. creado por PETCOM ©.</h1>
        </div>
    </footer>
</body>

</html>