<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/agenda.css}">
    <link rel="stylesheet" th:href="@{/css/dashAndFoot.css}">
    <title>Listar Agenda</title>
</head>

<body>
    <nav>
        <img th:src="@{img/logo.png}" class="logo">
        <!-- Administrador -->
        <div class="btns" th:if="${session.userDetails.FK.getIdRol == 1}">
            <div class="btn">
                <a th:href="@{/moduloUsuario}"><input type="submit" value="USUARIO"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloMascota}"><input type="submit" value="MASCOTA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloCliente}"><input type="submit" value="CLIENTE"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/verPerfil}"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
        <!-- Recepcionista -->
        <div class="btns" th:if="${session.userDetails.FK.getIdRol == 2}">
            <div class="btn">
                <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloMascota}"><input type="submit" value="MASCOTA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloCliente}"><input type="submit" value="CLIENTE"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/verPerfil}"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
        <!-- Doctor -->
        <div class="btns" th:if="${session.userDetails.FK.getIdRol == 3 || session.userDetails.FK.getIdRol == 4}">
            <div class="btn">
                <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/verPerfil}"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
    </nav>
    <!-- th:if="${a.fechaInicio != null && a.fechaFin != null}" th:with="diasDiferencia=${T(java.time.temporal.ChronoUnit).DAYS.between(a.fechaInicio, a.fechaFin)}" -->
    <div class="all">
        <center><h1 class="List">LISTADO DE AGENDAS </h1></center>
        <div th:each="u:${agendaUsuario}">
            <div class="agen">
                <h1 th:if="${u.FK.FK.idRol == 3}" th:text="${'Agenda del doctor ' + u.FK.nombreUsu + ' ' + u.FK.apellidoUsu}"></h1>
                <h1 th:if="${u.FK.FK.idRol == 4}" th:text="${'Agenda del peluquero ' + u.FK.nombreUsu + ' ' + u.FK.apellidoUsu}"></h1>
                <h1 th:text="${u.FkA.fechaInicio + ' - ' + u.FkA.fechaFin}"></h1>
                <table class="tabla-colores">
                    <tr class="indice">
                        <th class="indi">Hora</th>
                        <th class="indi">Lunes</th>
                        <th class="indi">Martes</th>
                        <th class="indi">Miercoles</th>
                        <th class="indi">Jueves</th>
                        <th class="indi">Viernes</th>
                        <th class="indi">Sabado</th>
                        <th class="indi">Domingo</th>
                    </tr>
                    <tr>
                        <th class="indi">9:30</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">10:00</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">10:30</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">11:00</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">11:30</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">12:00</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">12:30</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">1:00</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">1:30</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">2:00</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">2:30</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">3:00</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">3:30</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">4:00</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">4:30</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">5:00</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">5:30</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th class="indi">6:00</th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                    </tr>
                </table>
                <!-- <div th:if="${c.FK != null && a.idAgenda == c.FK.idAgenda}" class="agen">
                    <h1 th:if="${u.FK.FK.idRol == 3}" th:text="${'Agenda del Doctor ' + u.FK.nombreUsu + ' ' + u.FK.apellidoUsu}"></h1>
                    <h1 th:if="${u.FK.FK.idRol == 4}" th:text="${'Agenda del Peluquero ' + u.FK.nombreUsu + ' ' + u.FK.apellidoUsu}"></h1>
                    <h1 th:if="${a.idAgenda == u.FkA.idAgenda}" th:text="${a.fechaInicio + ' - ' + a.fechaFin}"></h1>
                    <p>El día de la semana es: <span th:text="${#temporals.dayOfWeek(a.fechaInicio)}"></span></p>
                    <p>El día de la semana es: <span th:text="${#temporals.dayOfWeek(a.fechaFin)}"></span></p>
                </div> -->
            </div>
        </div>
    </div>

    <footer>
        <div class="vete">
            <h1>Veterinaria Boss Bunny</h1>
        </div>
        <div class="contac">
            <div class="text">
                <h1>CONTACTO</h1>
                <h2>teléfono: 3147888196 • veterinaria@gmail.com</h2>
            </div>
            <div class="img">
                <img th:src="@{img/logo.png}" class="log">
            </div>
        </div>
        <div class="toda">
            <h1>Todas las marcas y logotipos pertenecen a las respectivas empresas. ® 2023. creado por PETCOM ©.</h1>
        </div>
    </footer>
</body>

</html>