<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
  <link rel="stylesheet" th:href="@{css/registers.css}">
  <link rel="stylesheet" th:href="@{css/dashAndFoot.css}">
  <title>Registrar Agenda</title>
</head>

<body>
  <nav>
    <img th:src="@{img/logo.png}" class="logo">
    <!-- Administrador -->
    <div class="btns" th:if="${session.userDetails.FK.getIdRol == 1}">
      <div class="btn">
        <a th:href="@{/moduloUsuario}"><input type="submit" value="USUARIO"></a>
      </div>
      <div class="btn">
        <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
      </div>
      <div class="btn">
        <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
      </div>
      <div class="btn">
        <a th:href="@{/moduloMascota}"><input type="submit" value="MASCOTA"></a>
      </div>
      <div class="btn">
        <a th:href="@{/moduloCliente}"><input type="submit" value="CLIENTE"></a>
      </div>
      <div class="btn">
        <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
      </div>
      <div class="btn">
        <a th:href="@{/verPerfil}"><input type="submit" value="PERFIL"></a>
      </div>
      <div class="cerrar">
        <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
      </div>
    </div>
    <!-- Recepcionista -->
    <div class="btns" th:if="${session.userDetails.FK.getIdRol == 2}">
      <div class="btn">
        <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
      </div>
      <div class="btn">
        <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
      </div>
      <div class="btn">
        <a th:href="@{/moduloMascota}"><input type="submit" value="MASCOTA"></a>
      </div>
      <div class="btn">
        <a th:href="@{/moduloCliente}"><input type="submit" value="CLIENTE"></a>
      </div>
      <div class="btn">
        <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
      </div>
      <div class="btn">
        <a th:href="@{/verPerfil}"><input type="submit" value="PERFIL"></a>
      </div>
      <div class="cerrar">
        <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
      </div>
    </div>
    <!-- Doctor -->
    <div class="btns" th:if="${session.userDetails.FK.getIdRol == 3 || session.userDetails.FK.getIdRol == 4}">
      <div class="btn">
        <a th:href="@{/moduloCita}"><input type="submit" value="CITA"></a>
      </div>
      <div class="btn">
        <a th:href="@{/moduloAgenda}"><input type="submit" value="AGENDA"></a>
      </div>
      <div class="btn">
        <a th:href="@{/moduloHistoria}"><input type="submit" value="HISTORIA CLÍNICA"></a>
      </div>
      <div class="btn">
        <a th:href="@{/verPerfil}"><input type="submit" value="PERFIL"></a>
      </div>
      <div class="cerrar">
        <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
      </div>
    </div>
  </nav>
  <main>
    <form th:action="@{/registrarAgenda}" th:object="${agenda}" method="post">
      <h2>Registrar<br> Agenda</h2>

      <table>
        <tr>
          <td>

            <select name="idUsuario">
              <option value="">Peluqueros/Doctores</option>
              <th:block th:each="c : ${usuarios}">
                <option th:if="${c.FK.idRol == 3 or c.FK.idRol == 4}" th:value="${c.idUsuario}" th:text="${c.nombreUsu}"></option>
              </th:block>
            </select>
            <br><label>Peluqueros/Doctores</label><br><br>

          </td>
          <td>

            <input type="date" id="" th:field="*{fechaInicio}" placeholder="Fecha de inicio" required step="1">
            <br><label>Fecha de Inicio</label><br><br>


          </td>
          <td>

            <input type="date" id="" th:field="*{fechaFin}" placeholder="Fecha de fin" required step="1">
            <br><label>Fecha de Fin</label><br><br>


          </td>
        </tr>
        <tr>
          <td>

            <input type="time" id="" th:field="*{horaInicio}" placeholder="Hora de inicio" required step="1">
            <br><label>Hora de Inicio</label><br><br>


          </td>
          <td>

            <input type="time" id="" th:field="*{horaFin}" placeholder="Hora de fin" required step="1">
            <br><label>Hora de Fin</label><br><br>


          </td>
          <td>

            <select th:field="*{estadoAgenda}" hidden>
              <option value="">Estado</option>
              <option value="1">Activo</option>
              <option value="0">Inactivo</option>
            </select><br><br>

          </td>
        </tr>
      </table>

      <input type="submit" class="regis" id="regis" value="Registrar">
    </form>
  </main>
  <footer>
    <div class="vete">
      <h1>Veterinaria Boss Bunny</h1>
    </div>
    <div class="contac">
      <div class="text">
        <h1>CONTACTO</h1>
        <h2>teléfono: 3147888196 • veterinaria@gmail.com</h2>
      </div>
      <div class="img">
        <img th:src="@{img/logo.png}" class="log">
      </div>
    </div>
    <div class="toda">
      <h1>Todas las marcas y logotipos pertenecen a las respectivas empresas. ® 2023. creado por PETCOM ©.</h1>
    </div>
  </footer>
</body>

</html>