<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/agenda.css}">
    <link rel="stylesheet" th:href="@{/css/dashAndFoot.css}">
    <title>Registrar un usuario</title>
</head>
<body>
    <nav>
        <img th:src="@{img/logo.png}" class="logo">
        <div class="btns">
            <div class="btn">
                <a th:href="@{/usu}"><input type="submit" value="USUARIOS"></a>
            </div>
            <div class="btn">
                <a th:href="@{/modulCita}"><input type="submit" value="CITAS"></a>
            </div>
            <div class="btn">
                <a th:href="@{/modulAgenda}"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/modulMasco}"><input type="submit" value="MASCOTAS"></a>
            </div>
            <div class="btn">
                <a th:href="@{/modulCliente}"><input type="submit" value="CLIENTES"></a>
            </div>
            <div class="btn">
                <a th:href="@{/modulHisto}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
    </nav>

    <div class="all">
        <center><h1 class="List">LISTADO DE AGENDAS </h1></center>
        <br>
        <div th:if="${agenda.size()>0}" th:each="c:${agenda}">
            <br>
            <h1></h1>
            <table class="tabla-colores">
                <tr class="indice">
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sabado</th>
                    <th>Domingo</th>
                </tr>
                <tr>
                    <th>9:30</th>
                    <th>9:30</th>
                    <th>9:30</th>
                    <th>9:30</th>
                    <th>9:30</th>
                    <th>9:30</th>
                    <th>9:30</th>
                </tr>
                <tr>
                    <th>10:00</th>
                    <th>10:00</th>
                    <th>10:00</th>
                    <th>10:00</th>
                    <th>10:00</th>
                    <th>10:00</th>
                    <th>10:00</th>
                </tr>
                <tr>
                    <th>10:30</th>
                    <th>10:30</th>
                    <th>10:30</th>
                    <th>10:30</th>
                    <th>10:30</th>
                    <th>10:30</th>
                    <th>10:30</th>
                </tr>
                <tr>
                    <th>11:00</th>
                    <th>11:00</th>
                    <th>11:00</th>
                    <th>11:00</th>
                    <th>11:00</th>
                    <th>11:00</th>
                    <th>11:00</th>
                </tr>
                <tr>
                    <th>11:30</th>
                    <th>11:30</th>
                    <th>11:30</th>
                    <th>11:30</th>
                    <th>11:30</th>
                    <th>11:30</th>
                    <th>11:30</th>
                </tr>
                <tr>
                    <th>12:00</th>
                    <th>12:00</th>
                    <th>12:00</th>
                    <th>12:00</th>
                    <th>12:00</th>
                    <th>12:00</th>
                    <th>12:00</th>
                </tr>
                <tr>
                    <th>12:30</th>
                    <th>12:30</th>
                    <th>12:30</th>
                    <th>12:30</th>
                    <th>12:30</th>
                    <th>12:30</th>
                    <th>12:30</th>
                </tr>
                <tr>
                    <th>1:00</th>
                    <th>1:00</th>
                    <th>1:00</th>
                    <th>1:00</th>
                    <th>1:00</th>
                    <th>1:00</th>
                    <th>1:00</th>
                </tr>
                <tr>
                    <th>1:30</th>
                    <th>1:30</th>
                    <th>1:30</th>
                    <th>1:30</th>
                    <th>1:30</th>
                    <th>1:30</th>
                    <th>1:30</th>
                </tr>
                <tr>
                    <th>2:00</th>
                    <th>2:00</th>
                    <th>2:00</th>
                    <th>2:00</th>
                    <th>2:00</th>
                    <th>2:00</th>
                    <th>2:00</th>
                </tr>
                <tr>
                    <th>2:30</th>
                    <th>2:30</th>
                    <th>2:30</th>
                    <th>2:30</th>
                    <th>2:30</th>
                    <th>2:30</th>
                    <th>2:30</th>
                </tr>
                <tr>
                    <th>3:00</th>
                    <th>3:00</th>
                    <th>3:00</th>
                    <th>3:00</th>
                    <th>3:00</th>
                    <th>3:00</th>
                    <th>3:00</th>
                </tr>
                <tr>
                    <th>3:30</th>
                    <th>3:30</th>
                    <th>3:30</th>
                    <th>3:30</th>
                    <th>3:30</th>
                    <th>3:30</th>
                    <th>3:30</th>
                </tr>
                <tr>
                    <th>4:00</th>
                    <th>4:00</th>
                    <th>4:00</th>
                    <th>4:00</th>
                    <th>4:00</th>
                    <th>4:00</th>
                    <th>4:00</th>
                </tr>
                <tr>
                    <th>4:30</th>
                    <th>4:30</th>
                    <th>4:30</th>
                    <th>4:30</th>
                    <th>4:30</th>
                    <th>4:30</th>
                    <th>4:30</th>
                </tr>
                <tr>
                    <th>5:00</th>
                    <th>5:00</th>
                    <th>5:00</th>
                    <th>5:00</th>
                    <th>5:00</th>
                    <th>5:00</th>
                    <th>5:00</th>
                </tr>
                <tr>
                    <th>5:30</th>
                    <th>5:30</th>
                    <th>5:30</th>
                    <th>5:30</th>
                    <th>5:30</th>
                    <th>5:30</th>
                    <th>5:30</th>
                </tr>
                <tr>
                    <th>6:00</th>
                    <th>6:00</th>
                    <th>6:00</th>
                    <th>6:00</th>
                    <th>6:00</th>
                    <th>6:00</th>
                    <th>6:00</th>
                </tr>
            </table>
        </div>
    </div>

    <footer>
        <div class="vete">
            <h1>Veterinaria Boss Bunny</h1>
        </div>
        <div class="contac">
            <div class="text">
                <h1>CONTACTO</h1>
                <h2>teléfono: 3147888196 • veterinaria@gmail.com</h2>
            </div>
            <div class="img">
                <img th:src="@{/img/logo.png}" class="log">
            </div>
        </div>
        <div class="toda">
            <h1>Todas las marcas y logotipos pertenecen a las respectivas empresas. ® 2023. creado por PETCOM  ©.</h1>
        </div>
    </footer>
</body>
</html>